html {
    font-size: 62.5%;
}

img {
    max-width: 100%;
    height: auto;
}

* {
    box-sizing: border-box;
}

body {
    background: #ebf5fe;
    font-family: "Roboto", sans-serif;
    font-size: 1.6rem;
}

/* Common */

.container {
    width: 1110px;
    margin: 50px auto;
    max-width: calc(100% - 48px);
}

a {
    text-decoration: none;
}

.item {
    width: 310px;
    background: #fff;
    padding: 30px;
    border-radius: 5px;
}

.item:hover {
    outline: 2px solid red;
    cursor: pointer;
}

.icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 2.5rem;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.info {
    display: flex;
    align-items: center;
    gap: 0 10px;
}

.title {
    font-size: 1.8rem;
    font-weight: 700;
}

.desc {
    margin-top: 10px;
    line-height: 1.2;
    color: #666666;
}

.item a {
    display: inline-block;
    margin-top: 20px;
    color: #00C4FF;
    font-weight: 500;
}

/* main */
.courses {
    display: flex;
    flex-direction: column;
    gap: 20px 0;
}

.list-item {
    display: flex;
    gap: 0 30px;
}

.item {
    flex: 1;
}

.item-1 .icon {
    background: linear-gradient(241deg, #ff9a3b 0%, #ff2525 60%);
    box-shadow: 0 0 12px #ff0000e3;
}

.item-2 .icon {
    background: linear-gradient(90deg, #20a824 0%, #80bad0 98%);
    box-shadow: 0 0 12px #20a824;
}

.item-3 .icon {
    background: linear-gradient(62deg, #da7232 0%, #f7e068 100%);
    box-shadow: 0 0 12px #da7232;
}

.item-4 .icon {
    background: linear-gradient(295deg, #b7bcff 0%, #372bff 98%);
    box-shadow: 0 0 12px #b7bcff;
}

.item-5 .icon {
    background: linear-gradient(43deg, #a420ff 0%, #977bff 100%);
    box-shadow: 0 0 12px #a420ff;
}

.item-6 .icon {
    background: linear-gradient(90deg, #20a824 0%, #69ff83 97%);
    box-shadow: 0 0 12px #20a824;
}




