.heading {
    color: yellowgreen;
    background-color: yellow;
}

#title {
    color: blueviolet;
}

h2 {
    color: aquamarine;
}

.info h2 {
    color: bisque;
}

h2.heading.lv2 {
    color: red;
}