html {
    font-size: 62.5%;
}

img {
    max-width: 100%;
    height: auto;
}

* {
    box-sizing: border-box;
}

body {
    background: #ebf5fe;
    font-family: "Roboto", sans-serif;
    font-size: 1.6rem;
}

/* Common */

.container {
    width: 1110px;
    margin: 50px auto;
    max-width: calc(100% - 48px);
}

a {
    text-decoration: none;
}

.item {
    width: 310px;
    background: #fff;
    padding: 30px;
    border-radius: 5px;
}

.item:hover {
    outline: 2px solid red;
    cursor: pointer;
}

.icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 2.5rem;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.info {
    display: flex;
    align-items: center;
    gap: 0 10px;
}

.title {
    font-size: 1.8rem;
    font-weight: 700;
}

.desc {
    margin-top: 10px;
    line-height: 1.2;
    color: #666666;
}

.item a {
    display: inline-block;
    margin-top: 20px;
    color: #00C4FF;
    font-weight: 500;
}

/* main */
.courses {
    display: flex;
    flex-direction: column;
    gap: 20px 0;
}

.list-item {
    display: flex;
    gap: 0 30px;
}

.item {
    flex: 1;
}

.item-1 .icon {
    background: #ff8989;
    box-shadow: 0 0 12px #ff8989;
}

.item-2 .icon {
    background-color: #00DFA2;
    box-shadow: 0 0 12px #00DFA2;
}

.item-3 .icon {
    background: rgb(255, 172, 28);
    box-shadow: 0 0 12px rgb(255, 172, 28);
}

.item-4 .icon {
    background: #30A2FF;
    box-shadow: 0 0 12px #30A2FF;
}

.item-5 .icon {
    background: #A459D1;
    box-shadow: 0 0 12px #A459D1;
}

.item-6 .icon {
    background: #8EAC50;
    box-shadow: 0 0 12px #8EAC50;
}




