html {
    font-size: 62.5%;
}

* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
}

/* Common */

.thumb {
    width: 60px;
    height: 60px;
    object-fit: cover;
}

.container {
    width: 1110px;
    margin: 30px auto;
}

.desc {
    margin-top: 15px;
    text-align: center;
}

.btn {
    background: rgba(7, 7, 83, 0.925);
    border: 1px solid rgba(7, 7, 83, 0.925);
    color: #fff;
    padding: 10px 20px;
    font-weight: 500;
    min-width: 100px;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
}

.btn:hover {
    opacity: 0.9;
}

/* main */

.heading {
    font-size: 4rem;
    font-weight: 700;
    text-align: center;
}

.products {
    display: flex;
    flex-direction: column;
}

.list-item {
    margin-top: 30px;
    text-align: center;
    display: flex;
}

.item {
    padding: 20px 15px;
    position: relative;
    flex:1;
    cursor: pointer;
}

.item .title {
    display: inline-block;
    margin-top: 10px;
    font-weight: 500;
}

.item .desc {
    margin-bottom: 50px;
    font-size: 1.4rem;
    color: #272525;
}
