html {
    font-size: 62.5%;
}

* {
    box-sizing: border-box;
}

body {
    font-size: 1.6rem;
    font-family: "Roboto", sans-serif;
}

/* Common */
a {
    text-decoration: none;
}

.container {
    width: 1110px;
    margin: 50px auto;
}

.btn {
    width: 150px;
    background-color: #00C4FF;
    color: #fff;
    padding: 10px 8px;
    text-align: center;
}

.heading {
    position: relative;
    font-weight: 400;
}

.desc {
    font-size: 1.4rem;
    color: gray;
}

/* main */

.contact {
    display: flex;
}

.contact-block {
    margin-top: 30px;
    display: flex;
    align-items: center;
    gap: 0 15px;
}

.heading.lv1 {
    font-size: 2rem;
    margin-bottom: 50px;
}

.heading.lv1::after {
    position: absolute;
    top: 30px;
    left: 0;
    content: "";
    display: inline-block;
    width: 35px;
    height: 2px;
    background-color: orange;
}

.heading.lv2 {
    margin-bottom: 18px;
    font-size: 1.8rem;
}

.contact-left {
    width: 15%;
    margin-right: 150px;
}

.contact-right {
    width: 85%;
    display: flex;
    flex-direction: column;
    gap: 15px 0px;
}

.contact-right input, textarea{
    width: 800px;
    font-size: 1.4rem;
}

.contact-right input {
    height: 40px;
}

.btn {
    display: inline-block;
    margin-top: 20px;
    border: none;
}








