html {
    font-size: 62.5%;
}

:root {
    --primary-color: #f55556;
    --letter-color: #4D4D4D;
    --font-size-btn: 1.2rem;
    --font-size-letter: 1.4rem;
}

* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
}

body {
    font-family: "Poppins", sans-serif;
    font-size: 1.6rem;
}

/* Common */

a {
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
}

input[type="checkbox"] {
    display: none;
}

.container {
    width: 1110px;
    max-width: calc(100% - 48px);
    margin: 20px auto;
}

.heading {
    font-weight: 700;
}

.lv1 {
    font-size: 3rem;
    line-height: 1.8;
}

.lv2 {
    font-size: 2.4rem;
    line-height: 1.7;
}

.desc {
    margin-top: 10px;
    font-size: var(--font-size-letter);
    color: #676767;
    line-height: 1.7;
}

.btn {
    color: #fff;
    border: 1px solid var(--primary-color);
    background: var(--primary-color);
    font-size:var(--font-size-btn);
    max-width: 160px;
    border-radius: 10px;
}

.btn:hover {
    background: transparent;
    color: var(--primary-color);
}

/* header */

.header {
    padding: 20px 0;
}

/* header-top */
.header-top {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

.header-top__navbar {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* position: absolute;
    top: 45px;
    left: 50%;
    transform: translateX(-50%); */
    display: none;
}

.navbar ul {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.navbar ul > li {
    padding: 10px 12px;
}

.navbar ul > li > a {
    display: block;
    padding: 10px 20px;
    font-size: var(--font-size-letter);
    font-weight: 500;
    color: var(--letter-color);
    transition: color 0.1s linear;
    
}

.navbar ul > li > a:hover,
.navbar ul > li > a:active {
    color: var(--primary-color);
    background: transparent;
}

.action {
    margin-top: 10px;
    display: flex;
    align-items: center;
    gap: 0 10px;
    background: #fff;
    box-shadow: 0 0 12px #ddd;
    padding: 5px 10px;
}

.action__input {
    padding: 8px 5px;
    border: none;
}

.action__input::placeholder {
    font-family: 'Poppins', sans-serif;
    color: #333;
    font-size: 1.5rem;
    font-weight: 500;
}

.action__input:focus {
    outline: none;
}

.action .search-icon {
    color: #212529b7;
}

.action .cart-icon {
    position: relative;
}

.action .cart-icon::after {
    content: "2";
    position: absolute;
    top: -20px;
    right: -20px;
    width: 25px;
    height: 25px;
    background: var(--primary-color);
    font-size: 1.2rem;
    color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-top .menu-icon {
    color: var(--letter-color);
    padding: 8px 10px;
    border: 1px solid #ddd;
    cursor: pointer;
}

#menu-mobile:checked ~ .header-top__navbar {
    display: flex;
}

/* hero */

.hero {
    padding: 70px 0;
    text-align: center;
}

.hero-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero-left .hero__block {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0 10px;
    font-size: 1.4rem;
    min-width: 200px;
    padding: 8px 12px;
    background: #FDECEC;
    border-radius: 999px;
}

.hero-left .hero__block .title {
    font-weight: 500;
    color: var(--primary-color);
}

.hero-left .highlight-heading {
    font-weight: 500;
    color: var(--primary-color);
}

.hero__action {
    margin-top: 30px;
    display: flex;
    align-items: center;
    gap: 0 20px;
}

.hero .btn-action {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 0 10px;
    color: var(--letter-color);
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    background: transparent;
    border: none;
}

.hero .btn-action:hover {
    color: #333333a9;
}

.hero .btn {
    padding:14px 10px;
}

.hero__button-play {
    border-radius: 50%;
    --edge: 50px;
    width: var(--edge);
    height: var(--edge);
    box-shadow: 0 0 12px #ddd;
}

/* Responsive */

@media screen and (min-width: 1200px) {
    .menu-icon {
        display: none;
    }

    .header-top {
        width: 100%;
        display: flex;
        flex-wrap: inherit;
        align-items: center;
        /* justify-content: space-between; */
    }

    .header-top__navbar {
        width: 70%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .header-top__navbar .action {
        margin-top: 0;
    }

    .navbar ul {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .navbar ul > li {
        padding: 0 0;
    }

    .navbar ul > li > a {
        --font-size-letter: 1.6rem;
    }

    .navbar ul {
        display: flex;
        /* flex-direction: row; */
        /* line-height: 46px; */
        align-items: center;
    }

    /* hero */

    .hero {
        display: flex;
        align-items: center;
        text-align: start;
    }


    .hero-left {
        width: 52%;
        display: flex;
        align-items: flex-start;
    }

    .hero-left .hero__block {
        font-size: 1.6rem;
        padding: 12px 20px;
    }

    .btn {
        font-size: 2rem;
        min-width: 186px;
        display: flex;
        align-items: center;
        justify-content: center;
        
    }

    .lv1 {
        font-size: 4.8rem;
    }

    .desc {
        font-size: 1.8rem;
    }

    .hero .btn {
        padding: 27px 20px;
    }

    .hero .btn-action {
        font-size: 1.6rem;
    }

    .hero__button-play {
        --edge: 70px;
    }

    .hero .image {
        width: 48%;
    }
}