html {
    font-size: 62.5%;
}

* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
}

body {
    font-family: "Nunito", sans-serif;
    font-size: 1.6rem;
}

/* Common */

a {
    text-decoration: none;
}

img {
    width: 50px;
}

.container {
    position: relative;
    height: 100vh;
    /* background: #000; */
}

/* main */

.icon {
    font-size: 2.5rem;
    padding: 24px 70px;
    width: 40px;
    height: 40px;
    position: fixed;
    top: 20px;
    right: 20px;
    /* background: #fb5533; */
}

.icon a {
    color: #000;
}

.cart {
    width: 100vw;
    height: 100vh;
    background: #00000080;
    display: none;
}

.container .icon:focus-within ~ .cart,
.container .icon:focus-within ~ .cart .cart-left {
    display: block;
}

.cart-left {
    position: absolute;
    top: 0;
    right: 0;
    width: 30%;
    background: #fff;
    display: none;
    height: 100%;
}

.row {
    padding: 25px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #ddd;
}

.row .heading {
    position: relative;
    font-size: 2rem;
    font-weight: 700;
}

.row .heading::after {
    position: absolute;
    top: -10px;
    content: "4";
    font-size: 1.2rem;
    font-weight: 400;
    color: #fff;
    width: 17px;
    height: 17px;
    background: blue;
    text-align: center;
    line-height: 17px;
    border-radius: 50%;
}

.row .icon-exit {
    width: 25px;
    height: 25px;
    background: red;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.row .icon-exit a {
    color: #fff;
}

.products {
    height: 279px;
    display: flex;
    flex-direction: column;
    background: #dddddd3b;
    /* flex-wrap: wrap; */

    overflow: auto;
}

.products::-webkit-scrollbar {
    width: 7px;
    background: #dddddd3b;
}

.products::-webkit-scrollbar-thumb {
    background: #ddd;
    border-radius: 999px;
}

.products .product-item {
    position: relative;
    padding: 20px 25px;
    display: flex;
    align-items: center;
    gap: 20px;
    /* background: red; */
    flex-shrink: 0;
}

.products .product-item::after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    height: 1px;
    width: 100%;
    background: #ddd;
}

.products .product-img {
    width: 100px;
    height: 100px;
    background: rgba(255, 192, 203, 0.541);
    display: flex;
    align-items: center;
    justify-content: center;
}

.info .title {
    color: #646262;
    font-weight: 600;
}

.buy {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.buy .number {
    width: 80px;
    padding: 6px 10px;
    border: 1px solid #646262;
    border-radius: 999px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.buy .number span {
    font-size: 1.2rem;
    color: #646262;
}

.buy .price {
    font-weight: 600;
}

.product-item .icon-exit {
    position: absolute;
    top: 15px;
    right: 20px;
}

.product-item .icon-exit a {
    color: #646262;
}

.pay {
    padding: 20px 25px;
}

.pay .sum-price {
    /* margin-top: 20px; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pay .sum-price .title {
    font-size: 1.8rem;
    font-weight: 700;
}

.pay .sum-price .price {
    color: red;
    font-weight: 700;
}

.pay .desc-price {
    margin-top: 10px;
    font-size: 1.2rem;
    color: #646262;
}

.btn {
    margin-top: 10px;
    width: 100%;
    height: 50px;
    border-radius: 5px;
    border: 1px solid #ddd;
    color: #646262;
    font-size: 1.5rem;
    font-weight: 500;
    cursor: pointer;
}

.btn:hover {
    background: blue;
    color: #fff;
    border: 1px solid blue;
}

.ship {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ship .icon-ship {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 255, 0.863);
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(0, 0, 255, 0.863);
    font-size: 2.4rem;
}

.ship .desc {
    font-weight: 600;
}
