@import "reset";
@import "variables";
@import "mixins";

html {
    font-size: 62.5%;
}

input,
button,
textarea,
select {
    outline: none;
    border: none;
    font-family: inherit;
    -webkit-tap-highlight-color: transparent;
}

input[type="checkbox"] {
    display: none;
}

a {
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
}

body {
    font-family: "Sofia Sans", sans-serif;
    font-size: 1.6rem;
}

.wrapper-inner {
    width: 1200px;
    margin: 0 auto;
    // background: green;
    display: grid;
    grid-template-columns: 1.2fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "sidebar header header header header"
        "sidebar main main main main"
        "sidebar main main main main"
        "sidebar main main main main"
        "sidebar main main main main";
}

.sidebar {
    display: flex;
    flex-direction: column;
    grid-area: sidebar;
    padding: 54px 0 0 58px;

    .heading {
        margin-top: 60px;
        font-size: 3.2rem;
        font-weight: 800;
    }

    .nav {
        margin-top: 48px;
        display: flex;
        flex-direction: column;
        row-gap: 16px;

        .icon {
            width: 22px;
            height: 22px;
            object-fit: cover;
        }
    }

    .nav-item {
        display: flex;
        align-items: center;
        gap: 0 13px;
        padding: 7px;
        border-radius: 6px;
        font-size: 1.6rem;
        font-weight: 600;
        color: $text-color;
        transition: background-color 0.4s ease;
    }

    .nav-item:hover {
        background: rgba(255, 0, 0, 0.555);
    }

    .chat-btn {
        position: sticky;
        bottom: 50px;
        margin-top: auto;
        background: transparent;
        display: flex;
        align-items: center;
        gap: 0 18px;
        font-weight: 600;
        cursor: pointer;
        .icon {
            display: block;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background: #f6f6f6;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}

.header {
    grid-area: header;
    // background: #ccc;
    display: flex;
    align-items: center;
    height: $header-height;
    .icon-menu {
        display: none;
        width: 26px;
        height: 26px;
        margin-right: 25px;
        cursor: pointer;
    }

    .nav {
        display: flex;
        gap: 0 46px;
    }

    .nav-link {
        position: relative;
        // background: red;
        padding: 8px 0px;
        color: $text-color;
        font-size: 1.8rem;
        font-weight: 600;

        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 0;
            height: 2.2px;
            background: $black;
            transition: width 0.5s ease;
        }

        &:hover::after {
            width: 100%;
        }
    }

    .actions {
        display: flex;
        align-items: center;
        gap: 0 26px;
        margin-left: 50px;
    }
}

.search-form {
    display: flex;
    align-items: center;
    column-gap: 18px;
    margin-right: auto;

    .search {
        background: #fff;
        font-weight: 600;
        font-size: 1.8rem;

        &::placeholder {
            color: rgba($color: #000000, $alpha: 0.2);
        }
    }
}

.main {
    grid-area: main;
    display: grid;
    grid-auto-rows: 188px;
    gap: 22px;
    grid-template-columns: repeat(4, 1fr);

    // > div {
    //     background: yellowgreen;
    // }

    .two-column {
        grid-column: span 2;
    }

    .two-row {
        grid-row: span 2;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 16px;
    }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
    .wrapper {
        position: relative;
    }

    .sidebar {
        position: absolute;
        background: #ccccccb2;
        top: 0;
        left: 0;
        height: 100%;
        padding-right: 30px;
        width: 100%;
        z-index: 1;
        display: none;
        .sidebar-main {
            display: flex;
            flex-direction: column;
            position: absolute;
            top: 0;
            left: 0;
            background: #fff;
            width: 20%;
            padding: 54px 20px 0 58px;
            height: 100%;
        }

        .toggle {
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            height: 100%;
            width: 80%;
            z-index: 1;
        }

        .nav-item {
            font-size: 2rem;
            margin-top: 10px;
        }

        .chat-btn {
            margin-left: -10px;
        }
    }

    .wrapper-inner {
        width: 900px;
        margin: 0 auto;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: auto 1fr 1fr 1fr 1fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
            " header header header header"
            " main main main main"
            " main main main main"
            " main main main main"
            " main main main main";
    }

    #sidebar-menu:checked ~ .sidebar {
        display: block;
    }

    .header {
        .icon-menu {
            display: flex;
        }
    }
}

@media screen and (min-width: 370px) and (max-width: 991px) {
    .wrapper {
        position: relative;
    }

    .sidebar {
        position: absolute;
        background: #ccccccb2;
        top: 0;
        height: 100%;
        width: 100%;
        z-index: 1;
        left: 0;
        transform: translateX(-100%);
        transition: transform 0.3s ease;
        display: none;
        .sidebar-main {
            display: flex;
            flex-direction: column;
            position: absolute;
            top: 0;
            left: 0;
            background: #fff;
            width: 30%;
            padding: 54px 70px 0 25px;
            height: 100%;
        }

        .toggle {
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            height: 100%;
            width: 60%;
            z-index: 1;
        }

        .nav-item {
            font-size: 1.6rem;
            margin-top: 10px;
        }

        .chat-btn {
            margin-left: -10px;
        }
    }

    .wrapper-inner {
        // width: 450px;
        width: 80%;
        margin: 0 auto;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto 1fr 1fr 1fr 1fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
            "header header"
            "main main"
            "main main"
            "main main"
            "main main";
    }

    .main {
        grid-template-columns: 1fr 1fr;
    }

    #sidebar-menu:checked ~ .sidebar {
        transform: translateX(0);
    }

    // .header {
    //     display: none;
    // }
    .header {
        .icon-menu {
            display: block;
        }

        .nav {
            display: none;
        }

        input {
            display: none;
        }
    }
}
